body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: black;
}

.flex-images {
  display: flex;
  flex-direction: row;
  width: 800px;
  gap: 1px;
}

.flex-images-item {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  min-width: 0;
  object-fit: cover;
  opacity: 0.5;
  height: 500px;
  transition: 200ms;
  transition-timing-function: ease-out;
}

.flex-images-item:hover {
  flex: 1 1 300px;
  opacity: 1;
}

.flex-images-item:first-child {
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
}
.flex-images-item:last-child {
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
}
